<div class="jumbotron">
	<h1>TBD</h1>
	<p>
		Incredible Facebook Quizzes
	</p>
	<p>
	<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
	</fb:login-button>
	</p>
	<p>
  <%= link_to "Find Backstabbers!", "#", class: "btn btn-primary btn-lg" %>
  </p>
 

	<div id="status">
	</div>

  <div
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="true">
	</div>